<div>
    <!--<div>{{main.data.dbconf}}</div>-->
    <div class="col-md-5">
        <div class="left-20">
            <h2>Database Connection : </h2>
            <div>
                <div>
                    <span>Type : </span>
                    <select class="form-control"
                            ng-model="main.data.db"
                            ng-options="one.name for one in main.data.dbconf.db track by one.name">
                    </select>
                </div>
            </div>
            <div class="top-20">
                <div>
                    <span>Host : </span>
                    <input type="text" class="form-control" ng-model="main.data.db.host" />
                </div>
                <div>
                    <span>Port : </span>
                    <input type="text" class="form-control" ng-model="main.data.db.port" />
                </div>
                <br />
            </div>
            <!-- IF SHOULD AUTHENTICATE -->
            <div ng-if="main.data.db.auth">
                <div>
                    <span>Username : </span>
                    <input type="text" class="form-control" ng-model="main.data.db.username" />
                </div>
                <div>
                    <span>Password : </span>
                    <input type="password" class="form-control" ng-model="main.data.db.password" />
                </div>
                <br />
            </div>
            <div>
                <div>
                    <input type="button" class="btn btn-default" value="Test Connection"
                           ng-click="conf.testConnectionClick()" />
                </div>
            </div>
        </div>
        <div class="all-20">
            <h2>Generator Configuration : </h2>
            <div>
                <div>
                    <span>Language : </span>
                    <select class="form-control"
                            ng-model="main.data.orm"
                            ng-change="conf.ormSelectedChange()"
                            ng-options="one.language for one in main.data.dbconf.orm track by one.language">
                    </select>
                </div>
                <div>
                    <span>Framework : </span>
                    <select class="form-control"
                            ng-model="main.data.ormSelected"
                            ng-options="one.name for one in main.data.orm.orm track by one.name">
                    </select>
                </div>
            </div>
            <div class="top-20">
                <div>
                    <span>Line separator : </span>
                    <select class="form-control"
                            ng-model="main.data.separator"
                            ng-options="one.name for one in main.data.dbconf.separator track by one.name">
                    </select>
                </div>
                <div>
                    <span>Tabulation : </span>
                    <input type="text" class="form-control" ng-model="main.data.tabulation"/>
                </div>
            </div>
            <div>
                <div class="top-20">
                    <input type="button" value="Generate" class="btn btn-default"
                           ng-click="conf.generateClick()" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <pre ng-if="main.data.code != null">{{main.data.code}}</pre>
    </div>
</div>