
.all-20 {
    margin:20px;
}

.top-20 {
    margin-top:20px;
}

.left-20 {
    margin-left: 20px;
}

.left-10 {
    margin-left: 10px;
}

.right-10 {
    margin-right: 10px;
}

.width-100p {
    width: 100%;
}

.font-1-1 {
    font-size: 1.1em;
}

.button-text {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: #dddddd;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}